*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    position: relative;
}

header{
    height: 60px;
    min-width:100%;
    background-color: rgb(0, 106, 255);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    /* flex: 1; */
     font-size: 30px;
     margin-left: 15px;
     color: #fff;
}
.links ul li{
    display: inline-block;
    margin: 25px;
    color: #fff;
    cursor: pointer;
}

section{
    min-height: 100vh;
    width: 80%;
    margin: 30px auto;
    /* border: 1px solid red; */
    padding: 10px;
    background-color: rgb(244, 245, 245);
}


.cart-area{
    background-color: rgb(197, 191, 191);
    position: fixed;

    width: 20%;
    min-height: 100vh;
    right: -25%;
    top: -30px;
    transition: .5s ease;
    padding: 10px;

}

.active{
     
    right: 0%;
     
    transition: .5s ease;
}

.product-area{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 .product{
    text-align: center;
    padding: 15px;
    flex-basis: 25%;
 }
 .product img{
    width: 200px;
 }

 .product h4 , h5 , button{
    margin: 5px;
 }

 .Addbtn{
    border: 0;
    outline: none;
    padding: 8px 16px;
    /* border: 1px solid red; */
    background-color: rgb(57, 57, 248);
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;

 }

 .cart-product-area{
    width: 95%;
    height: 80vh; 
    /* border: 1px solid red; */
    margin: 25px auto;
    overflow-y: scroll;
     
 }

 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

 .cart-img{
    width: 100px;
 }

 .cart-product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
 }

 .int-number{
    width: 50px;
    height: 30px;
    border: 0;
    outline: none;
    border-radius: 5px;
 }


 .btn-remove{
    border: 0;
    outline: none;
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(255, 2, 2);
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .cart-total{
    display: flex;
    justify-content: space-between;
    margin-top:15px;

}

 .pointer_none{
     pointer-events: none;
 }